@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Custom styles for dark mode */

.dark .search {
  color: #f7fafc;
  background-color: #2d3748;
}

.dark .dark-bg {
  background-color: #2d3748;
}

.dark .white {
  color: #f7fafc;
}

.dark .white:hover {
  color: #155dfc;
}

.dark .button-back-next {
  background-color: #808b96;
  color: white;
}
